@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;

  @tailwind components;
  @tailwind utilities;

 body{
  font-family: 'DM Sans',sans-serif ;
  max-width: 1300px;
 }
 *{
  font-family: 'DM Sans',sans-serif
 }
 .gradient{
  z-index: 0;
  background: linear-gradient(146.36deg, #DFEAF0 8.13%, #D5E4EA 58.07%, #F4E7F4 99.76%);
}